aws_cloud_institute
aws_digital_classroom
aws_jam
digital_course
digital_course_with_lab
exam_preparation
game_based_learning


post_certificados.txt
post_teste.txt
arq
texto.txt
self_paced_lab/curso_spl_1000